* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    overscroll-behavior: none;
    background-color: azure;
    overflow-x: hidden;
}

.dashboard-container {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgb(30, 35, 61);
    color: white;
    position: fixed;
    width: 22%;
    min-height: 100vh;
}

.sidebar h2 {
    padding: 2rem;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    list-style-type: none;
}

.sidebar ul li {
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    padding: 1.5rem;
}

.sidebar a {
    color: rgb(206, 198, 198);
    text-decoration: none;
}

.main-content {
    flex: 1;
    margin-left: 300px;
    width: 78%;
    min-width: 0;
    min-height: 100vh;
}

.header {
    display: flex;
    margin: 0;
    background-color: rgb(255, 255, 255);
    color:rgb(55, 62, 73);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    font-size: 19px;
    /* font-weight: 700; */
}

.welcome-text {
    color:white;
    background-color: rgb(99, 131, 228);
    padding: 2rem;
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 0px 10px 25px 5px rgba(102, 17, 238, 0.315);
}

.complaints-status {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
}

.complaints-status > div {
    display: flex;
    font-size: 15px;
    font-weight: 700;
    color: rgb(104, 101, 101);
    background-color: white;
    padding: 2rem;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 10px 25px 5px rgba(102, 17, 238, 0.315);
}

.total-card {
    display: inline-block;
    justify-content: center;
    font-size: 23px;
    background-color: royalblue;
    color: white;
    width: 60px;
    height: 60px;
    padding: 1.5rem;
    border-radius: 15px;
}

.pending-card {
    display: inline-block;
    align-content: center;
    font-size: 23px;
    background-color: rgb(255, 187, 14);
    color: white;
    width: 60px;
    height: 60px;
    padding: 1.5rem;
    border-radius: 15px;
}

.progress-card {
    display: inline-block;
    align-content: center;
    font-size: 23px;
    background-color: rgb(26, 172, 177);
    color: white;
    width: 60px;
    height: 60px;
    padding: 1.5rem;
    border-radius: 15px;
}

.resolved-card {
    display: inline-block;
    align-content: center;
    font-size: 23px;
    background-color: rgb(47, 165, 100);
    color: white;
    width: 60px;
    height: 60px;
    padding: 1.5rem;
    border-radius: 15px;
}