/* layout for register page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    overscroll-behavior: none;
}

.container1 {
    display: flex;
    /* margin: 5%; */
    column-count: 2;
    column-rule: 1px solid #ddd;
}

.left-container {
    display: flex;
    flex-direction: column;
    padding: 5%;
    width: 50%;
    height: 100vh;
    background-color: rgb(87, 101, 184);
}

.left-container > i {
    padding-top: 15%;
    font-size: 3rem;
    color: rgb(243, 242, 242);
}

.left-container h2 {
    font-size: 35px; 
    font-weight:600;
    padding-top: 10px; 
    padding-bottom: 20px;
    color: rgb(243, 242, 242);
}

.left-container p {
    font-size: 16px;
    color:rgba(255, 255, 255, 0.918);
    padding-bottom: 5%;
}

.right-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
    width: 60%;
    height: 100vh;
}

.right-container h2 {
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    font-weight: 700;
    color: rgb(87, 101, 184);
    padding: 3rem 4rem 1rem 4rem;
}

.right-container h3 {
    display: flex;
    justify-content: flex-start;
    font-size: 17px;
    color: rgb(87, 101, 184);
    padding-left: 4rem;
}

.roles {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    padding-left: 4rem;
    padding-top: 1rem;
    padding-right: 4rem;
}

/* .error-message {
    color: red;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
} */

/* student role before hover */
.student-role {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: 2px solid rgba(187, 185, 185, 0.384);
    border-radius: 10px;
    width: 300px;
    height: 150px;
    padding: 2rem;
    transition: transform 0.3s ease;
}

/* staff role before hover */
.staff-role {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 1rem; */
    border: 2px solid rgba(187, 185, 185, 0.384);
    border-radius: 10px;
    width: 300px;
    height: 150px;
    padding: 2rem;
    transition: transform 0.3s ease;
}

/* student role after hover */
.student-role:hover {
    border: rgb(114, 105, 245) 1px solid;
    box-shadow: 0px 3px 10px 0px rgba(102, 17, 238, 0.315);
    transform: scale(1.03);
    cursor: pointer;
}

/* staff role after hover */
.staff-role:hover {
    border: rgb(114, 105, 245) 1px solid;
    box-shadow: 0px 3px 10px 0px rgba(102, 17, 238, 0.315);
    transform: scale(1.03);
    cursor: pointer;
}

.active-role {
    border: 2px solid rgb(87, 100, 194);
    background-color: rgba(87, 100, 194, 0.08);
    color: rgb(87, 100, 194);
    transform: scale(1.03);
}

.student-form,
.staff-form {
    display: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.form-box {
    display: none;  /* we hide the forms initially before selecting */
    flex-direction: column;
    padding: 1rem 4rem;
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.form-box label {
    font-size: 15px;
    font-weight: 700;
    color: rgb(87, 101, 184);
}

.form-box input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.form-box button {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(87, 100, 194);
    box-shadow: 0px 0px 10px 5px rgba(102, 17, 238, 0.315);
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}