* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overscroll-behavior: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* body {
    margin: 5%;
    padding-left: 2%;
} */

.header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    font-size: 18px;
    position: fixed;
    padding: 1rem 3rem;
    background-color: rgb(241, 243, 248);
    color: rgb(76, 103, 223);
}

.login-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(63, 86, 218, 1) 0%, rgb(91, 45, 165) 100%);
    color: white;
    /* margin: 5%; */
    padding: 5%;
    max-width: 100%;
    min-height: 100vh;
}

.left-content h2{
    font-size: 53px;
    font-weight: 900;
    padding-bottom: 1.5rem;
}

.left-content h2 span {
    color: gold
}

.left-content p {
    font-size: 19px;
    color:rgba(255, 255, 255, 0.918)
}

.left-content {
    width: 60%;
}

.bottom-info {
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
    width: 40%;
}

.bottom-info div {
    display: flex;
    flex-direction: column;
}

.bottom-info h3 {
    font-size: 30px;
    font-weight: 900;
    color:gold; 
}

.digital, .accessible, .resolution {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
}

.login-page .uname-passwd form{
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 5px rgba(89, 40, 167, 0.788);
    background-color: white;
    border-radius: 20px;
    padding: 2rem;
    width: 500px;
    height: 100%;
    
}

.uname-passwd {
    width: 40%;
    display: flex;
    justify-content: center;
}

.uname-passwd h2 {
    padding-top: 5%;
    padding-bottom: 1rem;
    font-size: 24px;
    color: rgba(7, 7, 7, 0.842);
}

.input-box {
    position: relative;
}

.input-box i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
}

.uname-passwd input {
    width: 100%;
    padding: 1rem;
    padding-left: 2.5rem;
    margin-bottom: 1rem;
    border: 2px solid #9ec2e471;
    border-radius: 10px;
    font-size: 15px;
}

.uname-passwd button {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(81, 73, 194);
    box-shadow: 0px 0px 10px 5px rgba(102, 17, 238, 0.315);
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.why-use-scmrs h1{
    color:rgb(55, 62, 73);
    text-align: center;
    font-size: 38px;
    font-weight: 600;
    margin: 2rem 0 0 0;
    padding: 2rem 0 0 0;
}

.why-use-scmrs > p {
    color:rgba(32, 33, 34, 0.575);
    text-align: center;
    padding: 1rem 0 0.5rem 0;
    font-size: 17px;
}

.benefits {
    display: flex;
    gap: 2rem;
    padding: 7%;
}

.benefit-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 25px;
    /* font-size: 17px; */
    border: rgb(212, 212, 223) 1px solid;
    width: 450px;
    border-radius: 15px;
    padding: 5%;
    transition: transform 0.3s ease;
}

.benefit-box i {
    font-size: 40px;
    color:rgb(93, 82, 241);
}

.benefit-box:hover {
    border: rgb(114, 105, 245) 1px solid;
    box-shadow: 0px 3px 10px 0px rgba(102, 17, 238, 0.315);
    transform: scale(1.03);
}

.footer {
    background: linear-gradient(90deg, rgba(63, 86, 218, 1) 0%, rgb(91, 45, 165) 100%);
    color:rgb(223, 214, 214);
    text-align: center;
    padding: 3rem;
}
